[submodule "submodules/zfsonlinux"]
	path = submodules/zfsonlinux
	url = https://github.com/KrzysztofHajdamowicz/pve-kernel-zfsonlinux.git
[submodule "submodules/ubuntu-kernel"]
	path = submodules/ubuntu-kernel
	url = https://github.com/KrzysztofHajdamowicz/mirror_ubuntu-kernels.git
